<a href="https://colab.research.google.com/github/pablo23pr/logica-progama--o/blob/main/estudando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print( 10 > 20 and 4 < 2)  # f and f - f
print( 4 < 5   and 6 > 2)  # v and v - v
print( 7 < 9  and 10 > 2)  # v and v - v

False
True
True

In [ ]:
not 10 > 2

False

and

In [ ]:
print( 50 > 4 and 10 < 20 )  # v and v - v
print( 3 > 6 and 8 < 7 )  # f and f - f

True
False

not

In [ ]:
not 10 > 5

False

Operadores Aritiméticos

In [ ]:
#Adição
10+5

15

In [ ]:
#Divisão inteira
50//8

6

In [ ]:
20/2

10.0

In [ ]:
#Mutiplicação
10 * 2

20

In [ ]:
#Subitração
20-5

15

In [ ]:
#Potenciação
20**2

400

In [ ]:
#Resto da Divisão
10%3

1

Operadores Racionais

In [ ]:
#Maior
5 > 3

True

In [ ]:
# menor
10 < 5

False

In [ ]:
# maior ou Diferente
10 != 4

True

In [ ]:
# Maior ou igual
10 <=2

False

In [ ]:
# no nome da variável é 'x'  que armazena o valor 10 no espaço da memória
x=10
print(x) # Escreva a referencia no nome atribuido

10

In [ ]:
print(' conhecendo as variavél')
x=8
print(x)

 conhecendo as variavél
8

In [ ]:
nome = ('pablo alexsandro ')
print(nome)
print('eu,',nome,'tirei a dúvida dele')

pablo alexsandro
eu, pablo alexsandro  tirei a dúvida dele

In [ ]:
x=9
print(' a variavél é, igual a',x,)

 a variavél é, igual a 9

In [ ]:
x=10
print('eu,',nome,'tenho ',x,'  pra dividi com meus amigos')
print('quanto que cada um vai receber depois que eu dividir',x,'reais , pra dois? cada um vai receber ',x//2,)

eu, pablo alexsandro  tenho  10   pra dividi com meus amigos
quanto que cada um vai receber depois que eu dividir 10 reais , pra dois? cada um vai receber  5

In [ ]:
print(' conhecendo as variavél')
x = 8
print(x)

 conhecendo as variavél
8

In [ ]:

y = 10
Soma = x + y
print(Soma)

18

In [ ]:
x = 20

print( 'O valor é ',x,)

O valor é  20

In [ ]:
print( 'Declarar a variavél',x, 'Dividido por dois é ',x//2,)

Declarar a variavél 20 Dividido por dois é  10

In [ ]:
print(' O valor de 10 que soma',10 * 2,)

 O valor de 10 que soma 20

In [ ]:
40//3

13

In [ ]:
print('estudando as variavéld')
y = 10
print(' a variavél é ',y, ' que mutiplicado por dois é',y * 2,)

estudando as variavéld
 a variavél é  10  que mutiplicado por dois é 20

In [ ]:
print('pablo alexsamdro')

pablo alexsamdro

In [ ]:
Nome = ('pablo alexsanddro')
x = 50
print('eu,',Nome,'tenho ',x, 'para dividir com dois amigos')
print(' quanto que vai da',x, 'dividido pra dois?')
print('cada um vai receber',x // 2,)

eu, pablo alexsanddro tenho  50 para dividir com dois amigos
 quanto que vai da 50 dividido pra dois?
cada um vai receber 25

In [ ]:
# Maior ou Menor
10>20

False

In [ ]:
print( 10 < 20 and 40 > 5) # v and v - v

True

In [ ]:
x=10
type(x)

int

In [ ]:
num='200'
num_convert=int(num)
print('num',type(num))
print('num_convert',type(num))
num_float=float(num)
print('num_float',num_float)

num <class 'str'>
num_convert <class 'str'>
num_float 200.0

In [ ]:
num='100'
num_convert=int(num)
print('num_convert',type(num_convert))
num_float=float(num)
print('num_float',num_float)

num_convert <class 'int'>
num_float 100.0

In [ ]:
#Maior ou Menor
10 > 4 - 8 < 20

True

In [ ]:
# Diferente ou Igual
5 != 5

False

In [ ]:
print(19 > 10 and 40 < 60)

True

In [ ]:
not(5 > 2)

False

In [ ]:
#Subitração
4 - 4

0

In [ ]:
#Adição
5 + 5

10

In [ ]:
#Maior ou
10 != 5

True

In [ ]:
x=10
print( 'o valor é x',x/2)

o valor é x 5.0

In [ ]:
y = 5
print('eu tenho',y, ' juntando com o valor do amigo que é',x)
print(' Vai da ',x+y)

eu tenho 5  juntando com o valor do amigo que é 10
 Vai da  15

In [ ]:
num= '100'
num_convert=int(num)
num_float=float(num)
print('num,float_num')

num,float_num

In [ ]:
nome=' Palo Alexsandro'
print('nome',type(nome))

x = 10
print('x',type(x))
num='100'
num_convert=int(num)
print('num_convert',type(num_convert))

num_float=float(num)
print('num_float',num_float)

nome <class 'str'>
x <class 'int'>
num_convert <class 'int'>
num_float 100.0

In [ ]:
nome=input("Qual o seu nome")  # Aguardando o usúario
print(nome)

Qual o seu nome

In [ ]:
nome=input(' Qual o seu nome?')
print(nome)

 Qual o seu nome? Pablo
 Pablo

In [ ]:
x=10
print('x',type(x))
num='200'
num_convert=int(num)
print('num_convert',type(num_convert))

x <class 'int'>
num_convert <class 'int'>

In [ ]:
print(' Conhecendo as variável!')

 Conhecendo as variável!

In [ ]:
x=10
type(x)

int

In [ ]:
num='100'
num_float=float(num)
print('num_folat',float(num))
num_convert=int(num)
print('num_convert',type(num_convert))

num_folat 100.0
num_convert <class 'int'>

In [ ]:
#Maior
10 > 5

True

* not

In [ ]:
not 10 > 5

False

In [ ]:
print(10 < 20 and 5 < 8)  # v and v - v

True

In [ ]:
nota1 = float(input('Digite a nota1:'))
nota2 = float(input('Digite a nota2:'))
nota3 = float(input('Digite a nota3:'))
Média = (nota1 + nota2 + nota3)/3

if Média_aluno >=7:
  print(f' o aluno foi aprovado com a média :{'media_aluno.2f}')

SyntaxError: invalid decimal literal (ipython-input-15-2998685108.py, line 7)

In [ ]:
#testando

comprei uma moto
A moto custa 100

ValueError: invalid literal for int() with base 10: ' e eu quero trocar por um carro'

In [ ]:
#if
if 50 > 15:
  print('vardade')

vardade

In [ ]:
#if/else
print('Meus Amigos andando de moto')
velo1=10
velo3=80
if velo1 > velo3:
  print('Meu amigo da velo1 tava mas rápido')
elif velo1 < velo3:
  print('velo3 ta mais rápido')
else:
    print('os dois esta na mesma velocidade')

Meus Amigos andando de moto
velo3 ta mais rápido

In [ ]:
if (10 > 5) and (5 < 10):
  print('verdade'):

verdade

In [ ]:
print('Qual a média dos três alunos?')
nota1= 5
nota2=8
nota3=5
print('maior nota é a nota2')
if nota1 + nota3:
  print('essa duas nota soma',nota1 + nota3)
elif nota1 + nota3:
  print('As duas ta mais auta que a nota2')
else:
  print('São iguais')

Qual a média dos três alunos?
maior nota é a nota2
essa duas nota soma 10

In [ ]:
list = [1,'pablo',6.0]
type(list)

list

In [ ]:
tuple=(9,8)
type(tuple)

tuple

In [ ]:
list(pablo , 8.9 , 3)
list.append( 3 , pablo,8,9)

NameError: name 'pablo' is not defined

In [ ]:
list = [1,'pablo' ,5.5]
list.append('alexsandro')
print(list)
print(list[2])

[1, 'pablo', 5.5, 'alexsandro']
5.5

In [ ]:
#tupla
tupla = (3, 'pablo' , 3.3)
print(tupla)

(3, 'pablo', 3.3)

In [ ]:
#Dicionário
dicionário = {'nome':'pablo','cidade':'sento sé'}
type(dicionário)
print(dicionário)
print(dicionário['cidade'])

{'nome': 'pablo', 'cidade': 'sento sé'}
sento sé

In [ ]:
x = 10
print('o valor de x é',x)
print('O valor de x é',x,'e o dobro é',x * 2)

y = 5
print(' O o valor de y é', y)

x = 10 ; z = 5 ; x + y

o valor de x é 10
O valor de x é 10 e o dobro é 20
 O o valor de y é 5

15

In [ ]:
oNme = input("Qual é o seu nome?")
print(nome)

Qual é o seu nome? oan

TypeError: 'str' object is not callable

# Nova seção

In [ ]:
valor = input('Digite um valor')
print(valor)

Digite um valor 9
 9

In [ ]:
idade=input('Qual a sua idade?')
print(idade)
print( ' Sua idade é ',idade)
idade_convert=int(idade)
idade=idade_convert-8
print('sua idade agora é')
print(idade)

Qual a sua idade? 18
 18
 Sua idade é   18
sua idade agora é
10

In [ ]:
média=input('qual foi a sua média no semestre?')
print(média)
mes1=input('qual o valor da sua nota do primeiro bimestre?')
mes2=input('qual o valor da sua nota do segundo bimestre?')
mes3=input('qual o valor da sua nota do terceiro bimestre?')

qual foi a sua média no semestre? 10
 10
qual o valor da sua nota do primeiro bimestre? 12
qual o valor da sua nota do segundo bimestre? 5
qual o valor da sua nota do terceiro bimestre? 7

In [ ]:
 mes1 = 7
 mes2 = 5
 mes3 = 7

print(' nota boa')

if mes1 > mes3:
  print('mes1 maior que o mes2')
elif mes1 < mes3:
    print('mes3 maior que o mes1')

 nota boa

In [ ]:
x = 90
type(x)


num = '200'
num_convert = int(num)
print('num_convert',type('num'))
print('num_convert',type(num_convert))


num_float = float(num)
print('num_float',(num_float))

num_convert <class 'str'>
num_convert <class 'int'>
num_float 200.0

In [ ]:
num1 = int(input('Digite o primeiro número: '))
num2 = int(input('Digite o segundo número: '))
operação =(input('Digite a operação desejada: '))

match operação:
    case '+':
       res = num1 + num2
    case '-':
       res = num1 - num2
    case '*':
       res = num1 * num2
    case '/':
       res = num1 / num2
    case '//':
print(f'resultado {res}')

IndentationError: expected an indented block after 'case' statement on line 14 (ipython-input-3340801292.py, line 15)